.loginContainer{
    margin-top: 150px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pwd,.username{
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.forgetPwd a{
    float: right;
}
.pwd input, .username input{
    background-color: transparent;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}


.btnContainer *{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    padding: 7px 25px;
    border-radius: 10px;
}
.register{
    margin-left: 10px;
}