.todoContainer {
  margin-top: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 25px;
}

.inputContainer {
  display: flex;
}

.todoInput {
  width: 250px;
  background-color: rgb(228, 228, 228);
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.todoInput input {
  background-color: inherit;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}











.todoItem {
  padding: 15px 20px;
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
  display: flex;
  /* justify-self: center; */
  align-items: center;
  margin-top: 12px;
}


#isDone {
  width: 25px;
  height: 25px;
  display: flex;
  margin-right: 10px;
  cursor: pointer;
}

#isDone * {
  width: 100%;
  height: 100%;
}

.item {
  background-color: transparent;
  outline: none;
  border: none;
}



#delBtn {
  margin-left: auto;
  cursor: pointer;
  width: 20px;
  height: 20px;
}