* {
  margin: 0;
  padding: 0;
}

:root {
  --bgColor: #3a3a3a;
  --bgColor2: #222222;
}

body {
  background-color: var(--bgColor2);
  display: flex;
  justify-content: center;
  align-items: center;
}

