*{
  margin: 0;
  padding: 0;
}

:root{
  --bgColor: #9cc5fa;
  --bgColor2: #fff;
}
body{
  background-color: var(--bgColor2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoContainer{
  margin-top: 150px;
  background-color: var(--bgColor);
  border-radius: 25px;
  padding: 25px 0;
  min-width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.inputContainer{
  display: flex;
}

.todoInput{
  background-color: white;
  padding: 0 20px;
  border-radius: 25px 0 0 25px;
  display: flex;
  align-items: center;
}
.todoInput input[type="text"]{
  width: 100%;
  outline: none;
  border: none;
}


#addBtn{
  background-color: orange;
  outline: none;
  border: none;
  padding: 12px 20px;
  border-radius: 0 25px 25px 0;
  
}









.todoItem{
  padding: 5px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap:15px;
  margin-top: 12px;
}

#item{
  background-color: transparent;
  outline: none;
  border: none;
}
/* .todoData{
  display: flex;
  gap: 15px
}
.btns{
  display: flex;
  gap: 5px
}
.btns *{
  background-color: var(--bgColor);
  color: white;
  border: solid 1px white;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.btns *:active{
  transform: scale(1.025);
} */